<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-icon name="close" (click)="backHome()"></ion-icon>
      <div class="header-toolbar">
        <h1 class="ion-text-center">Accede tu Cuenta de Héroe</h1>
        <p class="ion-text-center">
          Demuestra tus Logros
        </p>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Lograras ser digno?</ion-card-title>
      <ion-card-subtitle>¡Conviertete en alguien grande!</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div class="form-content">
        <ion-input fill="outline" type="text" label="Nombre de Usuario" labelPlacement="floating" [(ngModel)]="credentials.identifier"
          placeholder="Ej. GerreroSabio"></ion-input>
        <ion-input fill="outline" type="password" label="Contraseña" labelPlacement="floating" [(ngModel)]="credentials.password"
          placeholder="Crea una contraseña segura"></ion-input>

          <div *ngIf="error" class="error-message">
            {{ error }}
          </div>
        <ion-button expand="block" fill="clear" shape="round" (click)="login()">
          Comenzar Aventura
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>