ion-icon{
    margin-right: 10px;
}

.icon-toolbar{
    scale: 1.3;
    margin-left: 20px;
}
ion-toolbar{
    --background: #3A2E7D;
    --color: white;
    // --min-height: 80px; #6141B2
}

.icon-add{
margin-right: 20px;
}

ion-col{
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.row-header{
    display: flex; 
    align-items: center; 
    justify-content: center;
    background-color: #3a2e7dd2;
    color: #fff;
    height: 50px;
}

.row-content{
    background-color: #3a2e7d1a;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

@media (max-width: 768px) {
    .hide-on-mobile {
        display: none;
    }
}