<ion-content [fullscreen]="true">
  <ion-header>
    <div class="ion-text-center">
      <h1>Bienvenido a uSkillSage</h1>
      <p>Transforma tus tareas cotidianas en misiones épicas y desbloquea tu camino hacia el éxito.</p>
    </div>
    <ion-grid fixed>
      <ion-row class="ion-justify-content-center">
        <ion-col size-md="3" sizeSm="6">
          <ion-button (click)="buttonToLogin()" expand="block" fill="clear" class="buttonLogin">
            Iniciar Sesión
          </ion-button>
        </ion-col>
        <ion-col size-md="3" sizeSm="6">
          <ion-button (click)="buttonToRegister()" expand="block" fill="clear" class="buttonRegister">
            Registrarse
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>
  
  <div class="content">
    <h2 class="ion-text-center">¿Qué te espera en uSkillSage?</h2>
    <ion-grid>
      <ion-row class="ion-text-center">
        <ion-col>
          <ion-card>
            <ion-card-title>Misiones Temáticas</ion-card-title>
            <ion-card-content>
              Convierte tus tareas diarias en emocionantes misiones ambientadas en tu género favorito.
            </ion-card-content>
          </ion-card>
        </ion-col>
  
        <ion-col>
          <ion-card>
            <ion-card-title>Mapa de Habilidades</ion-card-title>
            <ion-card-content>
              Desbloquea nodos y visualiza tu progreso en un árbol de habilidades personalizable.
            </ion-card-content>
          </ion-card>
        </ion-col>
  
        <ion-col>
          <ion-card>
            <ion-card-title>Logros y Recompensas</ion-card-title>
            <ion-card-content>
              Gana medallas, insignias y títulos mientras avanzas en tu camino heroico.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>