ion-content {
  --background: url('https://i.postimg.cc/cHvVrhFc/fondopasiajemonta-a.png') no-repeat center center/cover;
  // background-repeat: no-repeat;
  // background-position: center center;
  // background-size: cover;
}

ion-header {
  padding: 4rem;
  font-family: Arial, sans-serif;
  background: rgba(0, 0, 0, 0.5);
  // background-image: url('https://i.postimg.cc/cHvVrhFc/fondopasiajemonta-a.png');
  // background-repeat: no-repeat;
  // background-position: center center;
  // background-size: cover;
}

ion-header h1 {
  font-size: 3em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
  color: #fff;
}

ion-header p {
  font-size: 1.2em;
  margin-bottom: 40px;
  line-height: 1.8;
  color: #fff;
}

ion-button {
  --opacity: 1;
  --padding-bottom: 4px;
  --padding-end: 4px;
  --padding-start: 4px;
  --padding-top: 4px;
  --ripple-color: #1e1e1e;
  --transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.buttonLogin {
  --background: linear-gradient(135deg, #f6b463 0%, #e08f49 100%);
  --color: #ffffff; /* Texto blanco */
  --box-shadow: 0 4px 8px rgba(255, 152, 0, 0.3);
}

.buttonRegister {
  --background: linear-gradient(135deg, #71b9f4 0%, #477ed1 100%); 
  --color: #ffffff; /* Texto blanco */
  --box-shadow: 0 4px 8px rgba(33, 150, 243, 0.3);
}

ion-button:hover {
  transform: scale(1.08);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.content {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Arial, sans-serif;
  opacity:3;
  // background-color: #faba5a;

}

.content h2 {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 40px;
  -webkit-text-stroke: 1px rgba(48, 72, 73, 0.3);
}

ion-card {
  --background: rgb(255, 255, 255, 0.7);
  padding: 20px;
  --border-radius: 10px;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ion-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

ion-card-title {
  color: #6a11cb;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 15px;
}

ion-card-content {
  font-size: 1rem;
  color: #555;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
  ion-header {
    padding: 2rem; /* Reducir el padding en pantallas pequeñas */
  }
  ion-header h1 {
    font-size: 2em; /* Reducir el tamaño del título */
  }
  ion-header p {
    font-size: 1em; /* Reducir el tamaño del párrafo */
    margin-bottom: 20px;
  }
  .content {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .content h2 {
    font-size: 1.5rem; /* Reducir el tamaño del subtítulo */
  }
  ion-card {
    padding: 15px; /* Reducir el padding de las tarjetas */
  }
  ion-card-title {
    font-size: 1.2rem; /* Reducir el tamaño del título de la tarjeta */
  }
  ion-card-content {
    font-size: 0.9rem; /* Reducir el tamaño del contenido de la tarjeta */
  }
}

/* Media Queries para tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  ion-header {
    padding: 3rem; /* Ajustar el padding para tablets */
  }
  ion-header h1 {
    font-size: 2.5em; /* Ajustar el tamaño del título */
  }
  ion-header p {
    font-size: 1.1em; /* Ajustar el tamaño del párrafo */
  }
  .content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .content h2 {
    font-size: 1.8rem; /* Ajustar el tamaño del subtítulo */
  }
  ion-card {
    padding: 18px; /* Ajustar el padding de las tarjetas */
  }
  ion-card-title {
    font-size: 1.3rem; /* Ajustar el tamaño del título de la tarjeta */
  }
  ion-card-content {
    font-size: 0.95rem; /* Ajustar el tamaño del contenido de la tarjeta */
  }
}